#note{
	width:100%;
}
#noteBtn {
	background:green;
	color:#fff;
	font-size:16px;
	padding:10px 20px;
	border:1 px solid black;
	cursor:pointer;

}
#noteBtn:hover{
	background:#fff;
	color:green;
	border:1 px solid black;
}
#savedNotes{
	margin-top:40px;

}
#savedNotes div{
	border-radius: 5px;
	background:#f5f5f5;
	padding:12px;

}